.header{
	margin-top:100px;
	height: 500px;
	background: url("../img/rest-bg.jpg") no-repeat center;
	background-size: cover;
	margin-top: 0px;
	padding-top: 0px;
	text-align: center;
}
header img{
	padding-top:100px;

}
header h1{
	color: #fff;
	font-weight:
	text-transform: uppercase;
	padding-top:100px;
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 20px;
	line-height: 20px;
}


.header_menu li {
		display: inline-block;
		margin-left: 25px;
		margin-top: 5px;
		color: #8a8a8a;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none; /* tirar o traço  */
		letter-spacing: .1em;
		padding: 10px 0;
		transition: all .3s ease;
		font-size: 15px;
}
.header_menu a{
	color: #8a8a8a;
	font-family: sans-serif;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .1em;
	transition: all .1s ease;
}
.header_menu a:hover{
	color: #ff5353;
}


.header_menu ul{
	color: #8a8a8a;
	border: 2px solid #000;
	display: block;
	text-decoration: none;
	padding: 10px;
}
.menu_borda{
	background: #313131;
	height: 100%;
	width: 100%;
	top: 0px;
	margin: 0 auto;
	text-align: center;
}

.telefone{
	color: #fff;
	font-weight:
	text-transform: uppercase;
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 25px;
	line-height: 20px;
}
.telefone:after{
	content:"";
	display: inline-block;
	width: 80px;
	height: 2px;
	background: #fff;
	margin: 5px auto;
}

.telefone:before{
	content:"";
	display: inline-block;
	width: 80px;
	height: 2px;
	background: #fff;
	margin: 5px auto;
}

.fundo_menu{
	background: #303030;
	height: 100%;
}

.titulo{
	font-family: neuton, serif;
	font-size: 55px;
	color: #ff5353;
	text-align: right;
	text-align: justify;
}
.barra{
	border-bottom: 1px dashed #8a8a8a;
	padding-bottom: 10px;

}

.nome_prato{
	font-family: 'Baumans', cursive;
	font-size: 20px;
	color: white;
	text-align: justify;
}

.desc_prato{
	font-family: 'Bilbo Swash Caps', cursive;
	font-size: 20px;
	color: #8a8a8a;
	text-align: justify;
}

.cardapio li{
	border-bottom: 1px dashed #8a8a8a;
}
.preco{
	font-family: 'Sniglet', cursive;
	float: right;
}
.menu p, li{
	text-align: center;
}

.subtitulo_h1{
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: .1em;
	color:#8a8a8a;
	text-transform: uppercase;
	text-align: center;
	margin-bottom:40px;
	font-style: italic;
}
.subtitulo_h1:before, .subtitulo_h1:after{
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background: #8a8a8a;
	
	
}
.rodape{
	background-color: #000;
	height: 100%;

}
.rodape2 a{
	display: inline-block;
	color: #8a8a8a;
	font-size: 20px;
	font-family: sans-serif;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .1em;
	padding-left: 100px;
	transition: all .2s ease;
}
.rodape2 a:hover{
	color: #ff5353;
}
.direitos{
	text-align: center;
	padding-top: 10px;
	color: #8a8a8a;

}

.texto_sobre h1{
	color: #ff5353;
}

.texto_sobre{
	color: #8a8a8a;
}
.mapa{
	text-align: center;
}
.nome_contato{
	font-family: neuton, serif;
	font-size: 30px;
	color: #ff5353;
	padding-left: 40px;
	
	
}
.nome_contato2{
	font-family: 'Baumans', cursive;
	font-size: 20px;
	color: white;
	
}